*.md filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.toml filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
/LICENSE filter=lfs diff=lfs merge=lfs -text
*.py !text !filter !merge !diff
*.md !text !filter !merge !diff
*.json !text !filter !merge !diff
*.toml !text !filter !merge !diff
*.lock !text !filter !merge !diff
LICENSE !text !filter !merge !diff
